<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>loginProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CC3FC7320CB9B27002E761C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC3FC8720CB9B28002E761C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC3FC9220CB9B28002E761C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
